# 28 Jan 2026

In [1]:
print("Hello World")

Hello World

In [2]:
print('Hello world')

Hello world

In [ ]:
# Concate string
print('Name:','Nisha')

Name : Nisha

In [5]:
print("Name: Nisha")

Name: Nisha

In [6]:
user_name=input("Enter your name:")
print(user_name)

Sharvesh

In [10]:
user_name='Nisha' #String data
user_age=36 #integer any number without decimal
user_gender='Female' #String
is_married=True # Boolean bool
user_height=5.5 #float

print(type(user_name))
print(f"Data type for user name :{type(user_name)}")
print(f"Data type for user age : {type(user_age)}")
print(f"Data type for user gender :{type(user_gender)}")
print(f"Data type for is married : {type(is_married)}")
print(f"Data type for user height : {type(user_height)}")

<class 'str'>
Data type for user name :<class 'str'>
Data type for user age : <class 'int'>
Data type for user gender :<class 'str'>
Data type for is married : <class 'bool'>
Data type for user height : <class 'float'>

In [ ]:
user_name = input("Enter your name :")
user_age = input("Enter your age :")
user_gender = input("Enter your gender:")
is_married = input("Are you married ? True or False ?")
user_height = input("Enter your height :")

print(f"Data type for user name :{type(user_name)}")
print(f"Data type for user age : {type(user_age)}")
print(f"Data type for user gender :{type(user_gender)}")
print(f"Data type for is married : {type(is_married)}")
print(f"Data type for user height : {type(user_height)}")

Data type for user name :<class 'str'>
Data type for user age : <class 'str'>
Data type for user gender :<class 'str'>
Data type for is married : <class 'str'>
Data type for user height : <class 'str'>

# Type casting

In [12]:
user_name = input("Enter your name :")
user_age = input("Enter your age :")
user_age = int(user_age)
user_gender = input("Enter your gender:")
is_married = bool(input("Are you married ? True or False ?"))
user_height = float(input("Enter your height :"))

print(f"Data type for user name :{type(user_name)}")
print(f"Data type for user age : {type(user_age)}")
print(f"Data type for user gender :{type(user_gender)}")
print(f"Data type for is married : {type(is_married)}")
print(f"Data type for user height : {type(user_height)}")

Data type for user name :<class 'str'>
Data type for user age : <class 'int'>
Data type for user gender :<class 'str'>
Data type for is married : <class 'bool'>
Data type for user height : <class 'float'>

# Slicing and indexing

In [4]:
course = "Data Science"
print(f"index 0 : {course[0]}")
print(f"Last index :{course[-1]}")

#DATA SCIENCE
#012345678901
print(f"Slicing :{course[2:7]}") #2,3,4,5,6
print(f"Slicing :{course[:7]}") #0,1,2,3,4,5,6
print(f"Slicing :{course[2:]}") #2,3,4,5,6,7,8,9,10,11

print(f"Slicing :{course[-10:-3]}")
print(f"Slicing :{course[-10:9]}")
#D -> 0 -> -12
#a -> 1 -> -11
#t -> 2 -> -10
#a -> 3 -> -9
#  -> 4 -> -8
#S -> 5 -> -7
#c -> 6 -> -6
#i -> 7 -> -5
#e -> 8 -> -4
#n -> 9 -> -3
#c ->10 -> -2
#e ->11 -> -1

index 0 : D
Last index :e
Slicing :ta Sc
Slicing :Data Sc
Slicing :ta Science
Slicing :ta Scie
Slicing :ta Scie

In [25]:
data ="Python programming"
data.upper()

'PYTHON PROGRAMMING'

In [24]:
data ="Python programming"
data.lower()

'python programming'

In [33]:
data ="python programming"
data.title()

'Python Programming'

In [34]:
data ="python programming"
data.capitalize()

'Python programming'

In [31]:
data ="python Programming"
data.replace('python','JAVA')

'JAVA Programming'

In [35]:
data ="python Programming"
len(data)

18

In [36]:
data ="python Programming"
data*5

'python Programmingpython Programmingpython Programmingpython Programmingpython Programming'

In [39]:
data ="python Programming"
print(f"t : {data.find('t')}")
print(f"z : {data.find('z')}")
print(f"m : {data.find('m')}")

t : 2
z : -1
m : 13

In [41]:
print(f"{'Module1.ipynb'.endswith('.ipynb')}")
print(f"{'Module1.ipynb'.endswith('.pdf')}")

True
False

In [45]:
print(f"{'Module1.ipynb'.startswith('Mod')}")

True

In [49]:
data = "python programming"
print(data.count('p'))
print(data.count('m'))
print(data.count('t'))
print(data.count('z'))

2
2
1
0

In [7]:
data = "JAVA programming"
data.casefold()

'java programming'

In [13]:
data = "Python programming"
print(data.center(50))
print(data.center(50,'*'))

                Python programming
****************Python programming****************

In [ ]:
data = "Python programming"
data.expandtabs

b'Python programming'

# 29 JAN 2026

In [ ]:
# add, sub, mul, div, modulo , floor division
num1=35
num2=43

addition=num1+num2
print(f"Result of addition: {addition}")

Result of addition: 78

In [16]:
# add, sub, mul, div, modulo , floor division
num1=35
num2=43

addition=num1+num2
print("Result of addition:", addition)

Result of addition: 78

In [ ]:
num1=8
num2=6

addition=num1+num2
sub=num1-num2
mul=num1*num2
div=num1/num2
mod=num1%num2
floor_div=num1//num2
power=num1**num2 # 8power6 -> 8*8*8*8*8*8

print(f"Result of addition: {addition}")
print(f"Result of subtraction: {sub}")
print(f"Result of multiplication: {mul}")
print(f"Result of division: {div}")
print(f"Result of modulo: {mod}")
print(f"Result of floor division: {floor_div}")
print(f"Result of power: {power}")

Result of addition: 14
Result of subtraction: 2
Result of multiplication: 48
Result of division: 1.3333333333333333
Result of modulo: 2
Result of floor division: 1
Result of power: 262144

In [21]:
# List datatype

data = []
print(f"Data type of variable data is {type(data)}")

Data type of variable data is <class 'list'>

In [28]:
data =['Sharvesh','Ragesh','Nisha','Yathvika']
print(f"Data : {data}")

Data : ['Sharvesh', 'Ragesh', 'Nisha', 'Yathvika']

In [29]:
data.append('Mithra')
data

['Sharvesh', 'Ragesh', 'Nisha', 'Yathvika', 'Mithra']

In [30]:
len(data)

5

In [31]:
sorted(data)

['Mithra', 'Nisha', 'Ragesh', 'Sharvesh', 'Yathvika']

In [ ]:
data =[5,'Sharvesh','Ragesh','Nisha',2.5,'Yathvika']
sorted(data)

TypeError: '<' not supported between instances of 'str' and 'int'

In [37]:
data =['Sharvesh','Ragesh','Nisha','Yathvika']
student =['Sandy','Divya','Girish']

data.extend(student)
data

['Sharvesh', 'Ragesh', 'Nisha', 'Yathvika', 'Sandy', 'Divya', 'Girish']

In [34]:
sorted(data)

['Divya', 'Girish', 'Nisha', 'Ragesh', 'Sandy', 'Sharvesh', 'Yathvika']

In [38]:
data.insert(2,"Kavitha")
data

['Sharvesh',
 'Ragesh',
 'Kavitha',
 'Nisha',
 'Yathvika',
 'Sandy',
 'Divya',
 'Girish']

In [39]:
data.remove("Kavitha")
data

['Sharvesh', 'Ragesh', 'Nisha', 'Yathvika', 'Sandy', 'Divya', 'Girish']

In [41]:
data.pop(0)
data

['Nisha', 'Yathvika', 'Sandy', 'Divya', 'Girish']

In [42]:
data.clear()

In [43]:
data =['Sharvesh','Ragesh','Nisha','Yathvika','Sandy','Divya','Girish']

data[0]

'Sharvesh'

In [44]:
data[-1]

'Girish'

In [45]:
data[2:7]

['Nisha', 'Yathvika', 'Sandy', 'Divya', 'Girish']

In [46]:
data[12]

IndexError: list index out of range

In [48]:
data =['Sharvesh','Ragesh','Nisha','Yathvika','Sandy','Divya','Girish']
data.sort(reverse=True)
data

['Yathvika', 'Sharvesh', 'Sandy', 'Ragesh', 'Nisha', 'Girish', 'Divya']

In [49]:
data =['Sharvesh','Ragesh','Nisha','Yathvika','Sandy','Divya','Girish']
data.sort(reverse=False)
data

['Divya', 'Girish', 'Nisha', 'Ragesh', 'Sandy', 'Sharvesh', 'Yathvika']

In [50]:
data =['Sharvesh','Ragesh','Nisha','Yathvika','Sandy','Divya','Girish']
data.reverse()
data

['Girish', 'Divya', 'Sandy', 'Yathvika', 'Nisha', 'Ragesh', 'Sharvesh']

In [ ]:
data =['Sharvesh','Ragesh','Nisha','Yathvika','Sandy','Divya','Girish']

In [51]:
cities = ['Paris','London','Tokyo','Berlin','Sydney']
cities.append('New York')
cities

['Paris', 'London', 'Tokyo', 'Berlin', 'Sydney', 'New York']

In [52]:
cities.remove('London')
cities

['Paris', 'Tokyo', 'Berlin', 'Sydney', 'New York']

In [ ]:
# sorted(cities)
cities.sort() # specify to list
cities

['Berlin', 'New York', 'Paris', 'Sydney', 'Tokyo']

In [56]:
data=(10,20,30,40)
data

(10, 20, 30, 40)

In [58]:
data[1]

20

In [60]:
data=(10,20,30,40,'Nisha',6.5)
data

(10, 20, 30, 40, 'Nisha', 6.5)

In [65]:
data[5]

6.5

In [66]:
data[6]

IndexError: tuple index out of range

In [67]:
data = set()
type(data)

set

In [69]:
data = {'Sharvesh','Ragesh','Nisha','Yathvika','Sandy'}
data
type(data)

set

In [ ]:
data = {'Sharvesh','Ragesh','Nisha','Yathvika','Sandy'}
data.add('Pooja')
data

{'Nisha', 'Pooja', 'Ragesh', 'Sandy', 'Sharvesh', 'Yathvika'}

In [71]:
data = {'user_name':"Nisha",'age':36,'course':'Data Science'}
type(data)

dict

In [72]:
data['age']

36

In [73]:
data['course']

'Data Science'

In [74]:
data.get('course')

'Data Science'

In [75]:
data['age']=26
data

{'user_name': 'Nisha', 'age': 26, 'course': 'Data Science'}

In [76]:
data.keys

In [78]:
data.keys()

dict_keys(['user_name', 'age', 'course'])

In [79]:
data.values()

dict_values(['Nisha', 26, 'Data Science'])

In [80]:
data['height']=5.5
data

{'user_name': 'Nisha', 'age': 26, 'course': 'Data Science', 'height': 5.5}

In [81]:
data['user_name']='Yathvika'
data

{'user_name': 'Yathvika', 'age': 26, 'course': 'Data Science', 'height': 5.5}

In [82]:
data.pop('age')
data

{'user_name': 'Yathvika', 'course': 'Data Science', 'height': 5.5}

In [84]:
data.clear()
data

{}

In [86]:
data1 = {'user_name':"Nisha",'age':36,'course':'Data Science'}
data2 = {'height' : 5.5 }

data1.update(data2)
data1

{'user_name': 'Nisha', 'age': 36, 'course': 'Data Science', 'height': 5.5}

In [87]:
data1 = {'user_name':"Nisha",'age':36,'course':'Data Science'}
data2 = {'height' : 5.5 }

data1.update(data1)
data1

{'user_name': 'Nisha', 'age': 36, 'course': 'Data Science'}

In [92]:
data1.items()

dict_items([('user_name', 'Nisha'), ('age', 36), ('course', 'Data Science')])